beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
bs4==0.0.1; python_version >= "3.7"
enum34==1.1.10; python_version >= "3.7"
htmlmin==0.1.12; python_version >= "3.7"
importlib-metadata==4.11.4; python_version < "3.10" and python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
markdown==3.3.7; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
midl-website-builder @ git+https://github.com/MIDL-Conference/midl-website-builder.git@1.19 ; python_version >= "3.7"
pathlib2==2.3.7.post1; python_version >= "3.7"
pyscss==1.4.0; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
zipp==3.8.0; python_version < "3.10" and python_version >= "3.7"
